<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card" style="">
                    <font color="black">
                  <div class="card-body">
                    <h4 class="card-title" style="">ADD PRODUCT</h4>
                    <p class="card-description">WELCOME</p>
                    <form class="forms-sample" method="post" action="{% url 'save_product' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Product Category</label>
                                                                <div class="col-sm-10">
                                                                    <select name="pcat" class="form-control fill">
                                                                        <option value="opt1">Select</option>
                                                                        {% for i in cat %}
                                                                        <option value="{{i.cname}}">{{i.cname}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div><br><br><br>

                      <div class="form-group">
                        <label for="exampleInputName1">PRODUCT Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="pname">
                      </div>
                         <div class="form-group">
                        <label for="exampleTextarea1">Product Price</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Price" name="pprice">
                      </div>
                         <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="pdescription" placeholder="Description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">IMAGE</label>
                        <input type="file" class="form-control" id="exampleInputCity1" placeholder="Image" name="pimage">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                swal('{{i}}', '', 'warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                swal('{{i}}', '', 'error');
                </script>
            {% elif i.tags == 'info' %}
                <script>
                swal('{{i}}', '', 'info');
                </script>
            {% else %}
                <script>
                swal('{{i}}', '', 'success');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>

{% endblock %}