<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="text-align:center">
    <h1>CATEGORIES</h1>
    <form enctype="multipart/form-data" style="border-size:5px">
        <table width="100%">
            <tr>
                <th>CATEGORY NAME</th>
                <th>CATEGORY PRICE</th>
                <th>CATEGORY IMAGE</th>
                <th>OPERATIONS</th>

            </tr>

            {% for d in data %}
            <tr>
                <td>{{d.cname}}</td>
                <td>{{d.cdescription}}</td>
                <td>
                    <img src="{{ d.cimage.url }}"  width="100px" height="100px">
                </td>
                <td>
                    <a href="{% url 'edit_category' c_id=d.id %}">
                        <button type="button">EDIT</button>
                    </a>
                    <a href="{% url 'delete_category' c_id=d.id %}">
                        <button type="button">DELETE</button>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                swal('{{i}}', '', 'warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                swal('{{i}}', '', 'error');
                </script>
            {% elif i.tags == 'info' %}
                <script>
                swal('{{i}}', '', 'info');
                </script>
            {% else %}
                <script>
                swal('{{i}}', '', 'success');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}